/* 
 * Root CSS for DITA Community BaseX web application.
 */

:root {
  font-family: Verdana, sans-serif;
}

table
{
  table-layout: auto;
  width: 800px;
  border-collapse: collapse;
  border: 1pt solid black;
}

tr,
th,
td
{
  border: 0.5pt solid black;
}

th, td {
  padding-top: 5px;
  padding-left: 10px;  
}

div.conditional-attributes {
  display: block;
}

div.conditional-attribute {
  display:block;
}

span.condition-name {
  font-weight: normal;
}

span.condition-name:after {
  content: ': ';
}